<!DOCTYPE html>
<html lang="en">
  <head>
    <title>News Aggregator</title>
  </head>

  <body>
    <h2> Article </h2>
    <% if @articles %>
      <% @articles.each do |art| %>
      <li>
      Title:<%=art[0]%>  <b>URL:<a href="<%= art[1] %>"><%=art[1]%></a></b>   Description: <%= art[2]%> </p>
      </li>
      <%end%>
    <%end%>
    <br><a href="/articles/new">Submit New Article</a>
  </body>

</html>
